@use "mixins";

.forall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 350px;
  min-height: 450px;
  border: 2px solid white;
  text-align: center;

  img {
    height: 100px;
    width: auto;
  }
}

.hungry {
  color: #ef7c8e;
}

.full {
  color: #b6e2d3;
}

.none {
  display: none;
}

.forone {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;

  img {
    width: 300px;
    height: auto;
    @include mixins.tablet {
      width: 500px;
    }
  }
}

.needfood {
  background-color: #ef7c8e;
  &:hover {
    background-color: #b6e2d3;
  }
}
a {
  font-weight: 500;
  color: #d8a7b1;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: opacify($color: #000000, $amount: 0);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #d8a7b1;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #b6e2d3;
}
