.forall {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  background-color: lightgrey;
  border: 2px solid white;
  text-align: center;
  img {
    height: 100px;
    width: auto;
  }
}

.hungry {
  color: red;
}

.full {
  color: green;
}

.none {
  display: none;
}

.forone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img {
    width: 500px;
    height: auto;
  }
}

.needfood {
  background-color: red;
  &:hover {
    background-color: lime;
  }
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: opacify($color: #000000, $amount: 0);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #917d7d;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
