@use "mixins";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @include mixins.tablet {
    flex-direction: row;
  }
}
