@use "mixins";

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 223, 223, 0.2);
  width: 100%;
  top: 0px;
  ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
  }

  a {
    color: rgb(89, 157, 89);
    display: block;
    padding: 5px;
    text-decoration: none;
  }
}
